---
import type { GetStaticPaths } from 'astro';
import { getCollection } from 'astro:content';

import Page from '@components/astro/Page.astro';

export const getStaticPaths = (async () => {
  const posts = await getCollection('posts');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await post.render();
---

<Page
  title={post.data.title}
  description={post.data.description || post.data.title}
  structuredData={{
    '@context': 'https://schema.org',
    '@type': 'Article',

    headline: post.data.title,
    images: post.data.cover ? [post.data.cover] : [],
    datePublished: post.data.createdDate.toISOString(),

    author: [
      {
        '@type': 'Person',
        name: 'Riley Chang',
        url: 'https://blog.rileycki.com',
      },
    ],
  }}
>
  <div class="px-4">
    <div class="mb-4 border-b-2 border-neutral-400 pb-2 pt-4">
      <h1 class="text-2xl font-bold text-neutral-800">
        {post.data.title}
      </h1>
      <p class="mt-1 text-neutral-400">
        {post.data.createdDate.toLocaleDateString()}
      </p>
    </div>

    <article class="prose prose-neutral overflow-y-scroll">
      <Content />
    </article>
  </div>
</Page>
