---
import 'katex/dist/katex.min.css';

import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';

import Page from '@components/Page.astro';

export const getStaticPaths = (async () => {
	const posts = await getCollection('posts');

	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<Page title={post.data.title}>
	<article>
		<!-- information of the post -->
		<h1>{post.data.title}</h1>
		<hr />

		<!-- body -->
		<Content />
		<hr />

		<!-- footer -->
		<footer>
			此作品發佈於<a href="/">枯之隨筆</a>，任何人都可以使用 <a
				href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh-hant"
				>CC BY-SA 4.0 授權條款</a
			>來分享與修改此作品。
		</footer>
	</article>
</Page>

<style>
	h1 {
		font-size: 1.5em;
	}

	hr:has(+ footer) {
		margin-bottom: 1em;
	}

	footer {
		color: #333333;
		font-size: 0.85em;
		text-align: center;
	}
</style>

<!-- markdown content -->
<style is:global>
	pre:has(> code) {
		padding: 0.25em 0.5em;

		border: 0.25em double gray;

		& > code {
			font-size: 0.9em;
		}
	}

	hr {
		margin: 2em 0;

		border: none;
		border-top: 1px dashed gray;
	}
</style>
