---
import 'katex/dist/katex.min.css';

import type { GetStaticPaths } from 'astro';
import { getCollection, render } from 'astro:content';

import Page from '@components/Page.astro';

import { formatDate } from '@utils/locale';

export const getStaticPaths = (async () => {
	const posts = await getCollection('posts');

	return posts.map((post) => ({
		params: { id: post.id },
		props: { post },
	}));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { Content } = await render(post);
---

<Page title={post.data.title}>
	<article>
		<!-- information of the post -->
		<hgroup>
			<h1>{post.data.title}</h1>
			<p>{formatDate(post.data.createdDate)}</p>
		</hgroup>

		<!-- body -->
		<Content />
	</article>
</Page>

<style>
	hgroup {
		margin: 2em 0;

		& > h1 {
			margin: 0;
			font-size: 1.75em;
		}

		& > p {
			margin: 0;
			margin-left: 0.25em;
			margin-top: 0.25em;

			color: rgb(81, 81, 81);
			font-size: 0.9em;
		}
	}
</style>

<style is:global>
	pre:has(> code) {
		padding: 0.25em 0.5em;

		border: 0.25em double gray;

		& > code {
			font-size: 0.9em;
		}
	}

	hr {
		margin: 2em 0;

		border: none;
		border-top: 1px dashed gray;
	}
</style>
