---
import { slide, ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;

  structuredData?: object;
}

const { title, description, structuredData }: Props = Astro.props;
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!--
      a little hack to set structured data,
      see https://github.com/withastro/astro/issues/3544
    -->
    {
      structuredData ? (
        <script type="application/ld+json" set:html={JSON.stringify(structuredData)} />
      ) : null
    }

    <ViewTransitions />

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "71a7ec5c47a94722bf03153f5185fbb3"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </head>

  <body
    class="bg-orange-50 w-dvw min-h-dvh"
    transition:animate={slide({
      duration: 200,
    })}
  >
    <slot />
  </body>
</html>
