---
import { slide, ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
}

const { title, description }: Props = Astro.props;
---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />

    <title>{title}</title>

    <ViewTransitions />

    <!-- Cloudflare Web Analytics -->
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "1af2ff6d8500407887eff75909a5f0af"}'
    ></script><!-- End Cloudflare Web Analytics -->
  </head>

  <!-- global style -->

  <body
    class="bg-orange-50 w-dvw min-h-dvh"
    transition:animate={slide({
      duration: 200,
    })}
  >
    <slot />
  </body>
</html>
