---
import BlogInfo from '@components/BlogInfo.astro';
import Page from '@components/Page.astro';
import S from '@components/Style';

import { blogConfig } from '@config/blog';
---

<Page title={blogConfig.title} description={blogConfig.description}>
  <S.VerticalView.NoGap>
    <BlogInfo />

    <S.VerticalView.NoGap class="gap-3 px-5 py-3">
      <S.AboutMeText.Para>
        我無法也不希望直接寫一大堆字來告訴你我是怎樣的人，我希望你親自感受這一切。
      </S.AboutMeText.Para>

      <S.AboutMeText.Para
        >以下是除了本站以外我在使用的一些（廣義上的）社交媒體：</S.AboutMeText.Para
      >

      <ul class="list-inside list-disc">
        <li>
          <S.AboutMeText._
            >Mastodon: <a class="underline" href="https://c7.io/@rileycki"
              >@rileycki@c7.io</a
            ></S.AboutMeText._
          >
        </li>
        <li>
          <S.AboutMeText._
            >GitHub: <a class="underline" href="https://github.com/tkngaejcpi"
              >@tkngaejcpi</a
            >
          </S.AboutMeText._>
        </li>
      </ul>
    </S.VerticalView.NoGap>
  </S.VerticalView.NoGap>
</Page>
