---
import BlogInfo from '@components/BlogInfo.astro';
import Page from '@components/Page.astro';

import { blogConfig } from '@config/blog';
---

<Page title={blogConfig.title} description={blogConfig.description}>
  <div class="flex flex-col">
    <div class="mx-4">
      <BlogInfo />
    </div>

    <div class="prose px-6 py-4">
      <h3>我本人</h3>

      <ul>
        <li>🏳️‍🌈 無性戀光譜</li>
        <li>攝影和編程</li>
        <li>被生活鞭笞</li>
        <li>
          Mastodon: <a href="https://c7.io/@rileycki">@rileycki@c7.io</a>
        </li>
        <li>
          GitHub: <a href="https://github.com/tkngaejcpi">@tkngaejcpi</a>
        </li>
      </ul>

      <h3>本站</h3>

      <p>
        本站提供了 <a href="/rss.xml">RSS</a
        >，你可以通過它來訂閱更新，不過由於沒有辦法展現一些特殊的樣式，所以 RSS
        沒有提供全文輸出，暫且把它當成通知吧！
      </p>

      <p>
        同時，你可以使用 Webmention
        來跟我的文章互動，具體的方法就是你在自己的網站上公開一個含有 microformat
        資料的網頁，然後通過文章下面的表單提交通知，你的回應就會被同步到文章下面。
      </p>

      <p>
        如果你沒有自己的網站，最簡單的方法就是跟我<a
          href="https://c7.io/@rileycki">長毛象</a
        >上對應的轉發互動，你的公開的點星、轉發和評論也會同步到文章下面。
      </p>
    </div>
  </div>
</Page>
