---
import BlogInfo from '@components/astro/BlogInfo.astro';
import Page from '@components/astro/Page.astro';

import { getCollection } from 'astro:content';
import { slide } from 'astro:transitions';

/* get all posts, to list them in the archive page */
const posts = await getCollection('posts').then((posts) =>
  posts
    .sort((a, b) => b.data.createdDate.getTime() - a.data.createdDate.getTime())
    .slice(0, 10),
);
---

<Page title="廢話集散空間" description="什麼都可能寫，喜歡也好，不喜歡也好。">
  <div class="flex flex-col text-neutral-800">
    <BlogInfo />

    <ul
      class="px-4"
      transition:animate={slide({
        duration: 200,
      })}
    >
      {
        posts.map((post) => (
          <li class="px-1 pb-1 pt-3">
            <a href={`/posts/${post.slug}`}>
              <span class="mr-1 font-bold italic">*</span>
              <span class="font-medium">{post.data.title}</span>
              <span class="float-end mr-1 text-sm text-neutral-400">
                {post.data.createdDate.toLocaleDateString()}
              </span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Page>
