---
import { config } from '@config';

import Catalog from '@components/Catalog.astro';
import Page from '@components/Page.astro';

import { mkFilterSeq, filterByTag, sortByDate, limit } from '@utils/post';

const mkTagFilter = (tag: string) =>
	mkFilterSeq(filterByTag(tag), sortByDate, limit(5));
---

<Page title={config.name}>
	<div class="container">
		<Catalog title="Pinned" postFilter={mkTagFilter('pinned')} />
		<Catalog title="Narrative" postFilter={mkTagFilter('narrative')} />
		<Catalog title="Primer" postFilter={mkTagFilter('primer')} />
	</div>
</Page>

<style>
	div.container {
		padding: 2em 1em;

		display: flex;
		flex-direction: column;
		gap: 2em;
	}
</style>
