---
import { config } from '@config';

import Catalog from '@components/Catalog.astro';
import Page from '@components/Page.astro';
---

<Page title={config.name}>
	<div class="container">
		<Catalog tag="pinned" title="Pinned" />
		<Catalog tag="primer" title="Primer" />
	</div>
</Page>

<style>
	div.container {
		padding: 2em 1em;

		display: flex;
		flex-direction: column;
		gap: 2em;
	}
</style>
