---
import ArticleList from "@components/ArticleList.astro";
import Navigation from "@components/Navigation.astro";
import Page from "@components/Page.astro";

import { mkArticleQueryByTag } from "@models/ArticleQuery";

const showingTags = ["Example"];
---

<Page title="Riley's Blog" description="">
	<div class="flex flex-col">
		<Navigation />

		<div class="flex flex-col gap-2">
			{
				showingTags.map((tag) => (
					<div class="p-2">
						<h2 class="font-bold">{tag}</h2>
						<ArticleList
							articleQuery={mkArticleQueryByTag(tag)}
							maxArticles={5}
						/>
					</div>
				))
			}
		</div>
	</div>
</Page>
