---
import Catalog from '@components/Catalog.astro';
import Page from '@components/Page.astro';
---

<Page title="枯之隨筆">
	<div class="container">
		<Catalog tag="primer" title="Primer" />
	</div>
</Page>

<style>
	div.container {
		padding: 2em 1em;

		display: flex;
		flex-direction: column;
		gap: 2em;
	}
</style>
