---
import { query, type ArticleQuery } from "@models/ArticleQuery";

interface Props {
    articleQuery: ArticleQuery;
}

const { articleQuery }: Props = Astro.props;

const articles = await query(articleQuery);
---

<ul>
    {
        articles.map((article) => (
            <li class="flex flex-row">
                <a class="mr-auto" href={`articles/${article.slug}`}>
                    {article.data.title}
                </a>
                <span class="text-sm text-gray-600 mt-auto">
                    {article.data.lastEditedDate.toLocaleDateString()}
                </span>
            </li>
        ))
    }
</ul>
