<div class="bg-orange-100 p-2 lg:p-1 border-b-2 flex flex-row gap-2">
    <span class="text-lg font-bold mr-1">Riley's Blog</span>

    <a class="text-lg font-medium" href="/">home</a>
    <a class="text-lg font-medium" href="/archives">archives</a>
</div>
