---
import '@fontsource-variable/noto-serif-hk';
import '@fontsource-variable/noto-serif-tc';
import '@fontsource-variable/jetbrains-mono';

import { config } from '@config';

interface Props {
	title: string;
	description?: string;
}

const { title, description = '' } = Astro.props;
---

<!doctype html>
<html lang="zh">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link
			rel="alternate"
			type="application/rss+xml"
			title={config.name}
			href={new URL('rss.xml', Astro.site)}
		/>

		<!-- metadata -->
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	/* layout */
	body {
		margin: 0 auto;
		padding: 1em 0;
		width: 80%;

		letter-spacing: 0.4px;

		/* responsive */
		@media (min-width: 24em) {
			padding-top: 2em;

			font-size: 18px;
		}
	}

	/* font */
	body {
		font-family: 'Noto Serif HK Variable', 'Noto Serif TC Variable', serif,
			system-ui, sans-serif;
		font-weight: 500;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 600;
	}

	code {
		font-family: 'Jetbrains Mono Variable', monospace;
		font-weight: 400;
	}

	/* color */
	body {
		color: color-mix(in srgb, black, white 2%);
		background-color: color-mix(in srgb, black, white 98%);
	}

	a {
		color: inherit;
	}
</style>
